$bg-color: #FAFAFA;
$font-fam: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
$font-siz: 14px;

@font-face{
    font-family: billabong;
    src: url(../../assets/FontsFree-Net-Billabong.ttf) format("truetype");
}